---
layout: default
---

<section>
	<h3 class="code">Write Anything</h3>

	{% for post in site.posts %}
		{% if post.category == "write_anything" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d %Y" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title}}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
	
	<h3 class="code">Research Review</h3>

	{% for post in site.posts %}
		{% if post.category == "research" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d %Y" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title}}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}

	<h3 class="code">Daily Life</h3>

	{% for post in site.posts %}
		{% if post.category == "daily_life" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d %Y" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title}}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}

	<h3 class="code">Archived</h3>

	{% for post in site.posts %}
		{% if post.category == "archived" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d %Y" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title}}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
</section>
